.btn-add-task {
  transition: all 0.2s ease-in-out;
}

.btn-add-task:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.status-pill {
  padding: 0.5em 1em;
  font-weight: 500;
  background-color: #f8f9fa;
  color: #6c757d;
  border: 1px solid #dee2e6;
}

.status-pill.not-started {
  background-color: #ffeeb0;
  color: #856404;
  border-color: #ffeeba;
}

.status-pill.in-progress {
  background-color: #a4efff;
  color: #055160;
  border-color: #b6effb;
}

.status-pill.completed {
  background-color: #a4fb83;
  color: #177708;
  border-color: #a4fb83;
}

.status-pill.pending {
  background-color: #e2e3e5;
  color: #41464b;
  border-color: #d6d8db;
}
